Flask==2.3.2
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.2
tweepy==4.14.0
cryptography==41.0.2
gunicorn==20.1.0
psycopg2-binary==2.9.6
Bootstrap-Flask==2.3.0 
Werkzeug==2.3.7
flask-migrate==4.0.5
python-dotenv==1.0.1
