{% extends "base.html" %} {% block title %}Registered X Accounts{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h4>Registered X Accounts</h4>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Account Name</th>
                <th>Owner</th>
              </tr>
            </thead>
            <tbody>
              {% for account in accounts %}
              <tr>
                <td>{{ account.account_name }}</td>
                <td>{{ account.user.username }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="text-center mt-3">
            <a href="/" class="btn btn-secondary">Back to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
